[Desktop Entry]
Version=1.1
Type=Application
Name=MIDI2key
Icon=keyboard
Exec=/home/USERNAME/scripts/midi2key.sh
Terminal=true
Actions=
Categories=X-GNOME-Other;
